

:root {
  --primary-500: #6d4bf6;
  --neutral-100: #fff;
  --neutral-200: #858699;
  --neutral-300: #4c4f6b;
  --neutral-400: #2f313d;
  --neutral-500: #333;
  --neutral-600: #262736;
  --neutral-700: #20212e;
  --neutral-800: #191a23;
  --rounded-med: 8px;
  --elevation-m: 0 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1), 0 4px 4px rgba(0, 0, 0, .09), 0 8px 5px rgba(0, 0, 0, .05), 0 14px 6px rgba(0, 0, 0, .01), 0 23px 6px rgba(0, 0, 0, 0);
}

/*-------------- Refactor this --------------- */

body {
  height: 100%;
  color: #333;
  background-color: #191a23;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-family: Work Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

div.wrapper {
  color:#fff;
}

.parameters-wrapper input, select {
  color: #333;
}

.wrapper {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.content-wrapper {
  height: 50%;
  grid-column-gap: 1em;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 24px;
  width:100%;
  background-color: var(--neutral-600);
  padding: 1em;
}

.section-header {
  width: 100%;
  background-color: #262736;
  border: 0 solid #2f313d;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  display: flex;
}

.section-header h2 {
  color: #858699;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  line-height: 100%;
}

/* ----------- Prompt output --------------- */


/*
.prompt-wrapper {
  width: 30%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #20212e;
  border: 1px solid #2f313d;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: var(--elevation-m);
}

.prompt-container {
  width: 100%;
  grid-row-gap: 16px;
  background-color: #262736;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  display: flex;
}

.prompt-list-wrapper {
  width: 100%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.prompt-active {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #2f313d;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  display: flex;
}


.prompt-active {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #2f313d;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  display: flex;
}
*/


.prompt {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  display: flex;
}

.output-wrapper {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-basis: 33%;
}

.prompt-output-container {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #20212e;
  border: 1px solid #2f313d;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: var(--elevation-m);
  padding: 24px;
}

#outputPromptTextBox {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: var(--rounded-med);
  color: #333;
  font-size: .875rem;
  font-weight: 400;
  line-height: 145%;
}

/* ----------- Buttons --------------- */

.button-primary {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--primary-500);
  border-radius: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  box-shadow: var(--elevation-m);
}
.button-regular {
  color: #858699;
  font-size: .875rem;
  font-weight: 400;
  line-height: 16px;
}

/* ----------- Tokens --------------- */

.tokens-wrapper {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #2f313d;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: var(--elevation-m);
}

.token-list-container {
  width: 100%;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: auto;
}

.token-container {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #262736;
  border-bottom-width: 1px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.label-wrapper {
  width: 100%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin-bottom: 16px;
}

.token-label {
  color: #fff;
  letter-spacing: -.01em;
  font-size: .875rem;
  font-weight: 500;
  line-height: 135%;
}

.token-description {
  color: #858699;
  font-size: .75rem;
  font-weight: 400;
  line-height: 120%;
}

.token-value-input {
  width: 100%;
  height: 30px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #2f313d;
  border: 1px solid #4c4f6b;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding: 8px;
  display: flex;
}

.token-content {
  width: 100%;
  background-color: #262736;
  border: 0 solid #2f313d;
  border-bottom-width: 1px;
  justify-content: flex-start;
  align-items: center;
  padding: 1em; 
  display: flex;
  box-shadow: var(--elevation-m);
}

form.form {
  width: 100%;
}


/* ----------- Parameters --------------- */

#parameters-container {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 2em;
  background-color: #262736;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: auto;
  padding: 1em;
  overflow: auto;
}

.parameter {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 0 solid #2f313d;
  border-bottom-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  display: flex;
}


.value-range, .default-value {
  display: none;
}
